*{
   margin:0;
   padding:0;
   box-sizing:borderbox;
}  



body {
      
      background: linear-gradient(to right, #ff8a00, #da1b60);
      margin-left:100px;
      margin-top:100px;
      padding:0;
      font-family: Arial, sans-serif;
      height: 100vh;
      justify-content:center;
      
  }
@keyframes blink {
  0%, 100% {
    color: transparent;
  }
  50% {
    color:white;
  }
}

.blinking-text {
  animation: blink 1s infinite; 
  text-align:center;
  margin-top:50px;
}

